In [ ]:
import pyodbc
server ='LAPTOP-6GH1OKFQ'

#LLevamos a cabo la conexión
conexion = pyodbc.connect(driver = '{SQL server}',host=server)

print('conexion exitosa')
##Creación
cursor=conexion.cursor()
cursor.execute('CREATE DATABASE EMOTIONS')

In [ ]:
database = 'EMOTIONS'

# Establecer conexión con la base de datos
conn = pyodbc.connect(driver='{SQL Server}', server=server, database=database)

# Crear la tabla Emotions si no existe
cursor = conn.cursor()
# Alterar la tabla Emotions para agregar una nueva columna llamada Gender
cursor.execute('''
               IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'Emotions')
               CREATE TABLE Emotions (
                   ID INT PRIMARY KEY IDENTITY,
                   Emotion NVARCHAR(50),
                   Gender NVARCHAR(50),
                   CreatedAt DATETIME
               )
               ''')
conn.commit()

In [ ]:
database = 'EMOTIONS'

# Establecer conexión con la base de datos
conn = pyodbc.connect(driver='{SQL Server}', server=server, database=database)
cursor = conn.cursor()

# Verificar si la tabla ya existe antes de crearla
cursor.execute('''
               IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'Workers')
               CREATE TABLE Workers (
                   TrabajadorID INT PRIMARY KEY,
                   Nombre NVARCHAR(100)
               );
               ''')

# Insertar los datos en la tabla Workers
cursor.executemany("INSERT INTO Workers (TrabajadorID, Nombre) VALUES (?, ?)", [
    (1, 'Carlos'),
    (2, 'Ana'),
    (3, 'Juan'),
    (4, 'María'),
    (5, 'Pedro'),
    (6, 'Laura'),
    (7, 'David'),
    (8, 'Sofía'),
    (9, 'Alejandro'),
    (10, 'Elena')
])

# Confirmar los cambios en la base de datos
conn.commit()